{%extends 'index.html'%}
{%load mathfilters%}
{%load custom_tags%}
{%block main%}
<script>
  update();
      // AJAX request
      function update(){
        $.ajax({
          url: '/api/data',
          type: 'GET',
          dataType: 'json',
          success: function(data) {
              // Update the torrents table
              var torrentsTable = $('#torrents tbody');
              torrentsTable.empty();  // Clear existing content

              for (var i = 0; i < data.torrents.length; i++) {
                  var torrent = data.torrents[i];
                  war=""
                  if(torrent.warnings!="[]"){
                    war=` <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        ${torrent.warnings}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div><br>`
                  }
                  var row = $('<tr>');
                  row.append('<td><center>'+war+'<a href="' + torrent.progress_url + '"><strong>' + torrent.name + '</strong></a> <br>' + torrent.progress + '% ' + (torrent.size / 1073741824).toFixed(2) + 'GB <a href="/deletetorrent/' + torrent.id + '" onclick="showSpinner()" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></center></td>');
                  torrentsTable.append(row);
              }

              // Update the folders table
              var foldersTable = $('#folders tbody');
              foldersTable.empty();  // Clear existing content

              for (var j = 0; j < data.folders.length; j++) {
                      var folder = data.folders[j];
                      var rowFolder = $('<tr id="' + folder.id + '">');
                      
                      // Edit and Cancel buttons have unique IDs based on folder.id
                      rowFolder.append('<td><center><a href="/open/' + folder.id + '"><strong id="foldername">' + folder.name + '</strong></a>' +
                          ' <a href="#" id="edit' + folder.id + '" class="btn" onclick="edit(\'' + folder.id + '\', \'' + folder.name + '\', event);"><i class="fa fa-edit" aria-hidden="true"></i></a>' +
                          ' <a href="#" id="cancel' + folder.id + '" class="btn text-danger" onclick="cancelbtn(\'' + folder.id + '\', \'' + folder.name + '\', event);" style="display: none;"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a><br>' +
                          ' <a href="/playfolder/' + folder.id + '" class="btn btn-success"><i class="fa fa-play" aria-hidden="true"></i></a>' +
                          ' <a href="/downloadfolderfile/' + folder.id + '" class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i></a>' +
                          ' <a href="/deletefolder/' + folder.id + '" onclick="folderSpinner('+folder.id+`)" class="btn btn-danger">
                            <div class="text-center hidden " id="spinner-box${folder.id}">
                              <div class="spinner-border spinner-border-sm" role="status">
                              </div>
                              </div>
                            <i class="fa fa-trash" id="icon-box${folder.id}" aria-hidden="true"></i></a></center></td>`);
                      foldersTable.append(rowFolder);
                }
    
              // Update the files table
              var filesTable = $('#files tbody');
              filesTable.empty();  // Clear existing content

              for (var k = 0; k < data.files.length; k++) {
                    var file = data.files[k];
                    var rowFile = $('<tr id="' + file.folder_file_id + '">');
                    
                    // Edit and Cancel buttons have unique IDs based on file.folder_file_id
                    rowFile.append('<td><center><strong>' + file.name + '</strong>' +
                        ' <a href="#" id="editfile' + file.folder_file_id + '" class="btn" onclick="editfile(\'' + file.folder_file_id + '\', \'' + file.name + '\', event);"><i class="fa fa-edit" aria-hidden="true"></i></a>' +
                        ' <a href="#" id="cancelfile' + file.folder_file_id + '" class="btn text-danger" onclick="cancelbtnfile(\'' + file.folder_file_id + '\', \'' + file.name + '\', event);" style="display: none;"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a> <br>' +
                        ' <a href="/player/' + file.folder_file_id + '" class="btn btn-success"><i class="fa fa-play" aria-hidden="true"></i></a> ' +
                        ' <a href="/download/' + file.folder_file_id + '" class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i></a> ' +
                        ' <a href="/deletefile/' + file.folder_file_id + '/' + file.folder_id + `" onclick="folderSpinner(${file.folder_file_id})" class="btn btn-danger">
                          <div class="text-center hidden " id="spinner-box${file.folder_file_id}">
                            <div class="spinner-border spinner-border-sm" role="status">
                            </div>
                            </div>
                          <i class="fa fa-trash" id="icon-box${file.folder_file_id}" aria-hidden="true"></i></a> </center></td>`);

                    filesTable.append(rowFile);
                }
              
          },
          error: function(error) {
              console.error('Error loading data:', error);
          }
      });
      }
      repeat=setInterval(update,5000)
      

</script>
<script>
  
</script>
  <center>

    <form action="" method="post" id="myForm">
        {%csrf_token%}
        <div class="input-group mb-3 " style="width: 80%;">
          <input type="text" class="form-control" placeholder="Paste Magnet Url Here" name="link" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <button  type="submit" class="input-group-text" id="basic-addon2"><i class="fa fa-plus" ></i></button>
        </div>
      </form>
</center>
<div class="text-center text-primary hidden" id="spinner-box">
  <div class="spinner-border" role="status">
  </div>
</div>
  <center>
    <table class="table table-striped" id="torrents" style="width: auto;">
      <tbody>
        {%for i in content.torrents%}
        <tr>
            <td><center><a href="{{i.progress_url}}"><strong>{{i.name}}</strong></a> <br> {{i.progress}}%  {{i.size | div:1073741824 | floatformat:2}}GB <a href="/deletetorrent/{{i.id}}" class="btn btn-danger" onclick="showSpinner()"> <i class="fa fa-trash" aria-hidden="true"></i></a></center></td>
           
            
          </tr>
          {%endfor%}
      </tbody>
  </table>
  
  <!-- Folders Table -->
  <table class="table table-striped" id="folders" style="width: auto;">
     <tbody>
      {% for i in content.folders|get_last_update %}
      <tr id="{{i.id}}">
          <td ><center><a href="/open/{{i.id}}" ><strong  >{{i.name}}</strong></a> <a href="" id="edit{{i.id}}"  onclick="edit('{{i.id}}','{{i.name}}',event); "  class="btn"><i class="fa fa-edit" aria-hidden="true"></i></a><a href="" id="cancel{{i.id}}"  onclick="cancelbtn('{{i.id}}','{{i.name}}',event);" style="display:none " class="btn text-danger"><i class="fa fa-times fa-lg"   aria-hidden="true"></i></a> <br>
           <a href="/playfolder/{{i.id}}" class="btn btn-success"><i class="fa fa-play" aria-hidden="true"></i></a> <a href="/downloadfolderfile/{{i.id}}"  class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i></a> <a href="/deletefolder/{{i.id}}" onclick="folderSpinner('{{i.id}}')" class="btn btn-danger"> 
            <div class="text-center hidden " id="spinner-box{{i.id}}">
            <div class="spinner-border spinner-border-sm" role="status">
            </div>
          </div><i class="fa fa-trash"  id="icon-box{{i.id}}" aria-hidden="true"></i></a> </center>
          </td>  
           
        </tr>
        {%endfor%}
     </tbody>
  </table>
  
  <!-- Files Table -->
  <table class="table table-striped" id="files" style="width: auto;">
      <tbody>
        {%for i in content.files%}
        <tr id="{{i.folder_file_id}}">
          <td><center><strong>{{i.name}}</strong> <a href="" id="editfile{{i.folder_file_id}}"  onclick="editfile('{{i.folder_file_id}}','{{i.name}}',event); "  class="btn"><i class="fa fa-edit" aria-hidden="true"></i></a><a href="" id="cancelfile{{i.folder_file_id}}"  onclick="cancelbtnfile('{{i.folder_file_id}}','{{i.name}}',event);" style="display: none;" class="btn text-danger"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a> <br> <a href="/player/{{i.folder_file_id}}" class="btn btn-success"><i class="fa fa-play" aria-hidden="true"></i></a> <a href="/download/{{i.folder_file_id}}" class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i></a> <a href="/deletefile/{{i.folder_file_id}}/{{i.folder_id}}" onclick="folderSpinner('{{i.folder_file_id}}')" class="btn btn-danger">
            <div class="text-center hidden " id="spinner-box{{i.folder_file_id}}">
              <div class="spinner-border spinner-border-sm" role="status">
              </div>
            </div>
            <i class="fa fa-trash" id="{{i.folder_file_id}}" aria-hidden="true"></i></a> </center></td>
          </tr>
          {%endfor%}
      </tbody>
  </table>
  </center>

   
<script>
  function edit(id,name,event){
      clearInterval(repeat)
      event.preventDefault();
      row=document.getElementById(id)
      curr=document.getElementById('edit'+id)
      cancel=document.getElementById('cancel'+id)
      curr.style.display='none'
      cancel.style.display=''
      
      col=document.createElement('td')
      col.id='new'+id
      col.innerHTML=`<center>
        <div class="input-group mb-3">
        <input style="width:70%" class="form-control" type="text" id='value${id}' value="${name}" >
        <a onclick="rename(${id},event)" id="rename${id}" class="input-group-text " ><i class="fa fa-paper-plane"  aria-hidden="true"></i></a>
        </div></center>`
      row.insertAdjacentElement('afterend', col);
      ip=document.getElementById("value"+id)
      ip.select()
      ip.focus()
      renamebtn=document.getElementById("rename"+id)
      renamebtn.addEventListener('click',function(e){
        
        window.location.href='/renamefolder/'+id+'/?name='+ip.value

      })
      ip.addEventListener('keypress',function(e){
        if(e.key=="Enter"){
        window.location.href='/renamefolder/'+id+'/?name='+ip.value
      }
      })
      
  }
  function cancelbtn(id,name,event){
      event.preventDefault();
      curr=document.getElementById('edit'+id)
      col=document.getElementById('new'+id)
      col.remove()
      cancel=document.getElementById('cancel'+id)
      curr.style.display=''
      cancel.style.display='none'
      
      
  }
  function editfile(id,name,event){
      clearInterval(repeat)
      event.preventDefault();
      row=document.getElementById(id)
      curr=document.getElementById('editfile'+id)
      cancel=document.getElementById('cancelfile'+id)
      curr.style.display='none'
      cancel.style.display=''
      
      col=document.createElement('td')
      col.id='newfile'+id
      col.innerHTML=`<center>
        <div class="input-group mb-3">
        <input style="width:70%"  class="form-control" type="text" id='valuefile${id}' value="${name}" >
        <a onclick="renamefile(${id},event)" id="renamefile${id}" class="input-group-text" ><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
        </div></center>`
      row.insertAdjacentElement('afterend', col);
      ip=document.getElementById("valuefile"+id)
      ip.select()
      ip.focus()
      renamebtn=document.getElementById("renamefile"+id)
      renamebtn.addEventListener('click',function(e){
        
        window.location.href='/renamefile/'+id+'/?name='+ip.value

      })
      ip.addEventListener('keypress',function(e){
        if(e.key=="Enter"){
        window.location.href='/renamefile/'+id+'/?name='+ip.value
      }
      })
      
  }
  function cancelbtnfile(id,name,event){
      event.preventDefault();
      curr=document.getElementById('editfile'+id)
      col=document.getElementById('newfile'+id)
      col.remove()
      cancel=document.getElementById('cancelfile'+id)
      curr.style.display=''
      cancel.style.display='none'
      
      
  }
  
function  folderSpinner(id){
  clearInterval(update)
  $('#spinner-box'+id).removeClass('hidden'); 
    $('#icon-box'+id).addClass('hidden'); 
}

</script>

  {%endblock%}