{%extends 'index.html'%}
{%load mathfilters%}
{%block main%}
  <center>

    <form action="" method="post">
        {%csrf_token%}
        <div class="input-group mb-3 " style="width: 80%;">
          <input type="text" class="form-control" placeholder="Paste Magnet Url Here" name="link" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <button  type="submit" class="input-group-text" id="basic-addon2"><i class="fa fa-plus" ></i></button>
        </div>
      </form>
</center>
  <center>
      <table class="table table-striped" style="width: auto;">
          
          {%for i in content.torrents%}
          <tr>
              <td><center><a href="{{i.progress_url}}"><strong>{{i.name}}</strong></a> <br> {{i.progress}}%  {{i.size | div:1073741824 | floatformat:2}}GB <a href="/deletetorrent/{{i.id}}" class="btn btn-danger"> <i class="fa fa-trash" aria-hidden="true"></i></a></center></td>
              <td></td>
              
            </tr>
            {%endfor%}
        </table>
      <table class="table table-striped" style="width: auto;">    
          {%for i in content.folders%}
          <tr>
              <td><center><a href="/open/{{i.id}}" ><strong id="foldername"  >{{i.name}}</strong></a> <a href="" onclick="edit(); " style="visibility: hidden;" class="btn"><i class="fa fa-edit" aria-hidden="true"></i></a> <br>
               <a href="/playfolder/{{i.id}}" class="btn btn-success"><i class="fa fa-play" aria-hidden="true"></i></a> <a href="/downloadfolderfile/{{i.id}}" class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i></a> <a href="/deletefolder/{{i.id}}" class="btn btn-danger"> <i class="fa fa-trash" aria-hidden="true"></i></a> </center></td>
              <td></td>    
            </tr>
            {%endfor%}
        </table>
      <table class="table table-striped" style="width: auto;">    
        {%for i in content.files%}
        <tr>
          <td><center><strong>{{i.name}}</strong> <br> <a href="/player/{{i.folder_file_id}}" class="btn btn-success"><i class="fa fa-play" aria-hidden="true"></i></a> <a href="/download/{{i.folder_file_id}}" class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i></a> <a href="/deletefile/{{i.folder_file_id}}/{{i.folder_id}}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a> </center></td>
          </tr>
          {%endfor%}
        </table>
<script>

    // document.getElementById('editfolder').addEventListener('click', function(event){
    //   event.preventDefault()
    //   fn=document.getElementById("foldername")
    //   id=fn.classList.value
    //   flink=document.getElementById("flink")
    //   ip=document.createElement('input')
    //   ip.type='text';ip.value=fn.innerHTML;
    //   flink.replaceWith(ip)
    //   ip.focus()
    //   this.innerHTML='<i class="fa fa-paper-plane" aria-hidden="true"></i>'
    //   this.addEventListener('click',()=>{
    //     window.location.href='/renamefolder/'+id+'/?name='+ip.value
    //   })
    //   ip.addEventListener('keypress',(e)=>{
    //     if(e.key=="Enter"){
    //       window.location.href='/renamefolder/'+id+'/?name='+ip.value
    //     }
    //   })
    // })

</script>

{%endblock%}
