{%extends 'index.html'%}
{%block main%}

<center>
<div class="container"><h2>{{details.name}}</h2></div>
<img src="{{details.image}}" style="border-radius: 3px;" alt="" srcset="">
</center>
<hr>
<div class="container">
    {{details.inf |safe }}
{{details.desc |safe }}
</div>
<center>
    <table class="table table-striped" style="width: auto;">
        {%for i in links%}
        <tr>
            <td><strong>{{i.name}}</strong></td>
            <td><center><a href="/addtorrent/?link={{i.link}}" class="btn btn-success">Upload</a></center></td>
        </tr>
        {%endfor%}
    </table>
</center>

{%endblock%}
