{%extends 'index.html'%}
{%block main%}
<center>  
    <div class="text-center text-primary hidden" id="spinner-box">
        <div class="spinner-border" role="status">
        </div>
      </div>
    <table class="table table-striped" style="width: auto;">
        {%for i in links%}
        <tr>
            <td><strong>{{i.name}}</strong></td>
            <td><a href="/addtorrent/?link={{i.link}}" onclick="tamilSpinner('{{forloop.counter}}')" class="btn btn-success">
                <div class="text-center  hidden" id="spinner-box{{forloop.counter}}">
                    <div class="spinner-border spinner-border-sm" role="status">
                    </div>
                  </div>
                Upload</a></td>
        </tr>
        {%endfor%}
    </table>
    {%for i in images%}
    <img src="{{i.link}}" width="70%" alt="" srcset="">
    {%endfor%}
</center>
<script>
    function tamilSpinner(id){
        $('#spinner-box'+id).removeClass('hidden'); 
    }
</script>
{%endblock%}
