{%extends 'index.html'%}
{%block main%}

<center>
<div class="container"><h2>{{details.name}}</h2></div>
<img src="{{details.image}}" style="border-radius: 3px;" alt="" srcset="">
</center>
<hr>
<div class="container">
    {{details.inf |safe }}
{{details.desc |safe }}
</div>
<style>
    
.btn-result {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.result-item-wrap {
   display: flex;
   flex-wrap: wrap;
   gap: 0.25rem;
   justify-content: center;
}
.mt-4{
 margin-top: 1rem!important;
}

</style>

<div class="mt-4 result-item-wrap" >
    {%for i in links%}
    <a class="btn btn-success btn-sq btn-dl text-uppercase btn-result" href="/addtorrent/?link={{i.link}}" onclick="customSpinner('{{forloop.counter}}')" style="height: auto;width: 100px;"> 
      <div class="text-center  hidden" id="spinner-box{{forloop.counter}}">
        <div class="spinner-border spinner-border-sm" role="status">
        </div>
      </div>
      <i class="fa fa-upload" id="icon-box{{forloop.counter}}"></i>  <strong>{{i.name}}</strong>
    
    </a>
      {%endfor%}       
    </div>
<br>
<script>
  function customSpinner(id){
    $('#spinner-box'+id).removeClass('hidden'); 
    $('#icon-box'+id).addClass('hidden'); 
  }
</script>

{%endblock%}
