{%extends 'index.html'%}
{%block main%}

<center>
<h2>{{details.name}}</h2>
<img src="{{details.image}}" alt="" srcset="">
</center>
<hr>
{{details.inf |safe }}
{{details.desc |safe }}
<center>
    <table class="table table-striped" style="width: auto;">
        {%for i in links%}
        <tr>
            <td><strong>{{i.name}}</strong></td>
            <td><center><a href="/addtorrent/?link={{i.link}}" class="btn btn-success">Upload</a></center></td>
        </tr>
        {%endfor%}
    </table>
</center>

{%endblock%}
