{%extends 'index.html'%}
{%block main%}
<style>
    .card{
        width: 200px;
        height:300px;
        border: 1px solid #ccc;
        margin:10px;
        float: left;
        box-sizing: border-box;
        
    }
    .cont_display {
        overflow: hidden;
        text-overflow: ellipsis;
       
    }
    @media (min-width:768px){
        .card{ width: 10%;}}
    @media (max-width:767px){
        .card{ width: 40%;}}
</style>
<center>
    
    <form action="" method="post" id="myForm">
      {%csrf_token%}
      <div class="input-group mb-3 " style="width: 80%;">
        <input type="text" class="form-control" placeholder="Enter movie name" name="query" aria-label="Recipient's username" {%if query%} value="{{query}}" {%endif%} aria-describedby="basic-addon2">
        <button  type="submit" class="input-group-text" id="basic-addon2"><i class="fa fa-search" ></i></button>
      </div>
    </form>
  </center>
  <div class="text-center text-primary hidden" id="spinner-box">
    <div class="spinner-border" role="status">
    </div>
  </div>
  <style>
    .btn-result {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.result-item-wrap {
   display: flex;
   flex-wrap: wrap;
   gap: 0.25rem;
   justify-content: center;
}
.mt-4{
 margin-top: 1rem!important;
}
  </style>

<div class="mt-4 result-item-wrap" >
{%for i in movies%}
    <div class="cont_display card">
        <a href="/movierulz/movie/?link={{i.link}}"  title="{{i.name}}"><img width="165" height="220" src="{{i.image}}" class="attachment-full size-full wp-post-image" alt="{{i.name}}"></a>
        <center><p><b>{{i.name}}</b></p></center>
    </div>  

{%endfor%}

{%endblock%}