{%extends 'index.html'%}
{%block main%}
<center>
  <style>
        * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.video {
  width: 95%;
}

#fluid_video_wrapper_video {
  width: 100% !important;
  height: 100% !important;
}
  </style>
    <h5>{{file.name}}</h5> <br>
    <div class="video">
      <video id="video-id" style="width: 95%;"><source src="{{file.url}}" type="video/mp4"  />
   </div>
    <br>
    <br>
    <input  type="text" class="form-control" style="width: 80%;" value="{{file.url}}" id="down"><br>
    <a onclick="CopyText()" class="btn btn-info"><i class="fa fa-copy" aria-hidden="true"></i></a>
    <a href="{{file.url}}"  class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i></a>
    <br>
</center>
<script>
	 function CopyText() {
        var copyText = document.getElementById("down");
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */
       document.execCommand("copy");
    
    }
</script>
<script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
<script>
    var myFP = fluidPlayer(
        'video-id',	{
	"layoutControls": {
		"controlBar": {
			"autoHideTimeout": 3,
			"animated": true,
      "playbackRates": ['x2','x1.75','x1.5','x1.35','x1.25', 'x1','x0.5'],
			"autoHide": true
		},
		"htmlOnPauseBlock": {
			"html": null,
			"height": null,
			"width": null
		},
		"autoPlay": false,
		"mute": false,
		"allowTheatre": false,
		"playPauseAnimation": true,
		"playbackRateEnabled": true,
		"allowDownload": false,
		"playButtonShowing": true,
		"fillToContainer": false,
		"posterImage": "",
        "subtitlesEnabled": true,
        "primaryColor": "#28B8ED",
        
	},
	"vastOptions": {
		"adList": [],
		"adCTAText": false,
		"adCTATextPosition": ""
	}
});
</script>
{%endblock%}
