{%extends 'index.html'%}
{%block main%}
<link rel="stylesheet" href="https://sports247.eu.org/api/static/tailwind.css">
<center>
    <form action="" method="post" id="myForm">
        {%csrf_token%}
        <div class="input-group mb-3 " style="width: 80%;">
          <input type="text" class="form-control" placeholder="Enter channel name" name="query" {%if query%} value="{{query}}" {%endif%} aria-label="Recipient's username" aria-describedby="basic-addon2">
          <button  type="submit" class="input-group-text" id="basic-addon2"><i class="fa fa-search" ></i></button>
        </div>
      </form>
  </center>

    {{item |safe}}

    {%endblock%}